# Frontend exclusions
frontend/node_modules/
frontend/dist/
frontend/package-lock.json # Only include this if you have a lock file in the root, otherwise skip

# Backend exclusions
backend/conda/
backend/__pycache__/
backend/venv/